				<a name="{{product.sizes[0].sku}}"></a>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="btn btn-default btn-xs pull-right" href="#top" role="button"><span class="glyphicon glyphicon-chevron-up"></span> Top</a><h3 class="panel-title">{{product.title}}</h3>
					</div>
					<div class="panel-body">
						<img ng-src="{{product.image}}" class="img-responsive"></img>
						<p>{{product.description}}</p>
						<h3>{{product.sizes[0].price | currency}}</h3>
						<form class="form-horizontal">
							<input type="hidden" ng-model="myPrice" ng-init="myPrice=product.sizes[0].price" />
							<input type="hidden" ng-model="mySmImg" ng-init="mySmImg=product.smImage" />
							<div class="form-group">
								<label class="col-sm-2 control-label">Model:</label>
								<div class="col-sm-9">
									<select class="form-control" name="mySize" ng-model="mySize"
														ng-init="mySize=product.sizes[0].sku"
														ng-options="size.sku as size.skuDescription
																	for size in product.sizes">
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Quantity:</label>
								<div class="col-sm-9">
									<input ng-init="1"  class="form-control" type="number" min="1" max="10" ng-model="myQty"></input>
								</div>
							</div>
							<button type="button" class="btn btn-primary btn-block" ng-click="store.addItem(mySize, myQty, myPrice, mySmImg)">Add to Cart</button>
						</form>
					</div>
				</div>
