						<div class="panel panel-default">
						<div class="header clearfix">
							<nav>
								<ul class="nav nav-pills">
									<li role="presentation" ng-class="{ active:panels.isSelected(1) }">
										<a href ng-click="panels.selectTab(1)">Home</a>
									</li>
									<li role="presentation" ng-class="{ active:panels.isSelected(2) }">
										<a href ng-click="setType(1); panels.selectTab(2)">Bicycles </a>
									</li>
									<li role="presentation" ng-class="{ active:panels.isSelected(3) }">
										<a href ng-click="setType(2); panels.selectTab(3)">Accessories </a>
									</li>
									<li role="presentation" ng-class="{ active:panels.isSelected(4) }">
										<a href ng-click="panels.selectTab(4)">Features</a>
									</li>
									<li role="presentation" ng-class="{ active:panels.isSelected(5) }">
										<a href ng-click="panels.selectTab(5)">FAQ</a>
									</li>
									<li role="presentation" ng-class="{ active:panels.isSelected(6) }">
										<a href ng-click="panels.selectTab(6)">Contact Us</a>
									</li>
									<li role="presentation" ng-class="{ active:panels.isSelected(7) }">
										<a id="cartTab" href ng-click="panels.selectTab(7)">Cart</a>
									</li>
								</ul>
							</nav>
						</div>
						</div>
						<div class="panel" ng-show="panels.isSelected(1)">
							<top-image></top-image>
							<discover-autoshift></discover-autoshift>
						</div>
						<div class="panel" ng-show="panels.isSelected(2)">
							<product-display type="1"></product-display>
						</div>
						<div class="panel" ng-show="panels.isSelected(3)">
							<product-display type="2"></product-display>
						</div>
						<div class="panel" ng-show="panels.isSelected(4)">
							<feature-control></feature-control>
						</div>
						<div class="panel" ng-show="panels.isSelected(5)">
							<faq-control></faq-control>
						</div>
						<div class="panel" ng-show="panels.isSelected(6)">
							<contact-us></contact-us>
						</div>
						<div class="panel" ng-show="panels.isSelected(7)">
							<my-cart></my-cart>
						</div>
						